/* Container */
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 1.2rem 1rem;
  margin-left: 0;
  background-color: #f0fdf4;
}

/* Content wrapper */
.hero-content {
  width: 100%;
  max-width: 1024px;
  margin-top:1rem;
}

/* Title */
.hero-title {
  font-size: 2rem;
  font-weight: bold;
  color: #15803d; /* green-700 */
  margin-bottom: 1rem;
  text-align: center;
}

/* Hero Cards */
.hero-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

/* Active Loans Section */
.active-loans {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
  overflow: hidden;
}

/* Header of Active Loans */
.active-loans-header {
  padding: 1.5rem;
  border-bottom: 1px solid #e5e7eb;
  text-align: center;
}

.active-loans-header h2 {
  font-size: 1.25rem;
  font-weight: bold;
}

/* Body of Active Loans */
.active-loans-body {
  padding: 1.5rem;
}

.no-loans {
  text-align: center;
  color: #4c4b63;
  padding: 2rem 0;
}

/* Loans list */
.loans-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
