/* Reset & base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #d4fc79, #96e6a1);
}

/* Container */
.register-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Card */
.register-card {
  background: #fff;
  max-width: 400px;
  width: 100%;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Title */
.register-title {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

/* Form */
.form-group {
  text-align: left;
  margin-bottom: 15px;
}

.user-role{
  /* background-color: red; */
  padding:5px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-weight: 500;
}

.form-group input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: all 0.2s;
}

.form-group input:focus {
  border-color: #4f46e5;
  outline: none;
  box-shadow: 0 0 5px rgba(79, 70, 229, 0.3);
}

/* Button */
.register-btn {
  width: 100%;
  padding: 12px;
  background: #7771e5;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 10px;
}

.register-btn:hover {
  background: #4338ca;
}

.register-btn:disabled {
  background: #a5b4fc;
  cursor: not-allowed;
}

/* Error & Success messages */
.register-error {
  background: #fee2e2;
  color: #b91c1c;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 15px;
  font-size: 14px;
}

.register-success {
  background: #d1fae5;
  color: #065f46;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 15px;
  font-size: 14px;
}

/* Switch to login */
.switch-login {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}

.switch-login button {
  background: none;
  border: none;
  color: #4f46e5;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.switch-login button:hover {
  color: #4338ca;
}
.switch-btn{
    background: #7c76e4;    
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
}
.switch-login-container{
    margin-top: 5px;
}